body{
    background: rgb(27, 213, 213);
    padding: 0;
    border: 0;
}
header{
    background:white;
}
.centrar-contenido{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen-logo{
    margin: 10px;
    margin-left: 2rem;
}
.contenedor-ligas li{
    margin-left: 2rem;
    font-size: 1.1rem;
}
.contenedor-ligas li a{
    text-decoration: none;
}
.buscador-imagen{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}
.contenedor-buscador{
    width: 90%;
    height: 100%;
}
.input-buscar{
    width: 90%;
}
.bordes{
    border: 2px solid black;
}
.inputs-estilos{
    border: 2px solid rgb(27, 154, 213);
    border-radius: 12px;
    padding-left: 12px ;
    width: 100%;
    height: 2.3rem;
    outline: none;
    background: rgba(255, 255, 255, 0.941);
}
main{
    height: 130vh;
}
main .row{
    height: 130vh;
}
.contenedor-formulario{
    background-color: rgba(254, 253, 255, 0.501);
    width: 80%;
    padding: 40px;
    border-radius: 10px;
}
.contenedor-formulario button{
    margin-top: 15px;
}
label{
    margin-top: 10px;
}